@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to your global CSS or in the component's style section */
.custom-scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;      /* Firefox */
}